<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   
   <property name="hibernate.connection.driver_class">
   com.mysql.jdbc.Driver
   </property>

   <property name="hibernate.connection.url">
      jdbc:mysql://localhost/bc_server_db?useSSL=false
   </property>
   <property name="hibernate.connection.username">
      root
   </property>
   <property name="hibernate.connection.password">
      Ansersion
   </property>
   
   <property name="hibernate.hbm2ddl.auto">
   		update
   </property>
   
   <!-- Output sql of hibernate -->
	<property name="hibernate.show_sql">true</property>

   <!-- List of XML mapping files -->
   <mapping resource="db/user_info.hbm.xml"/>
   <mapping resource="db/dev_info.hbm.xml"/>
   <mapping resource="db/sn_info.hbm.xml"/>
   <mapping resource="db/user_dev_rel_info.hbm.xml"/>
   <mapping resource="db/signal_info.hbm.xml"/>
   
     
   <mapping resource="db/custom_signal_group_lang_entity_info.hbm.xml"/>
   <mapping resource="db/custom_signal_alm_info.hbm.xml"/>
   <mapping resource="db/custom_signal_boolean_info.hbm.xml"/>
   <mapping resource="db/custom_signal_enum_info.hbm.xml"/>
   <mapping resource="db/custom_signal_enum_lang_info.hbm.xml"/>
   <mapping resource="db/custom_signal_enum_lang_entity_info.hbm.xml"/>
   <mapping resource="db/custom_signal_float_info.hbm.xml"/>
   <mapping resource="db/custom_signal_i16_info.hbm.xml"/>
   <mapping resource="db/custom_signal_i32_info.hbm.xml"/>
   <mapping resource="db/custom_signal_info.hbm.xml"/>
   <mapping resource="db/custom_signal_name_lang_entity_info.hbm.xml"/>
   <mapping resource="db/custom_signal_string_info.hbm.xml"/>
   <mapping resource="db/custom_signal_u16_info.hbm.xml"/>
   <mapping resource="db/custom_signal_u32_info.hbm.xml"/>
   <mapping resource="db/custom_unit_lang_entity_info.hbm.xml"/>
     
       
   <mapping resource="db/system_signal_alm_info.hbm.xml"/>
   <mapping resource="db/system_signal_boolean_info.hbm.xml"/>
   <mapping resource="db/system_signal_enum_info.hbm.xml"/>
   <mapping resource="db/system_signal_enum_lang_info.hbm.xml"/>
   <mapping resource="db/system_signal_float_info.hbm.xml"/>
   <mapping resource="db/system_signal_i16_info.hbm.xml"/>
   <mapping resource="db/system_signal_i32_info.hbm.xml"/>
   <mapping resource="db/system_signal_info.hbm.xml"/>
   <mapping resource="db/system_signal_string_info.hbm.xml"/>
   <mapping resource="db/system_signal_u16_info.hbm.xml"/>
   <mapping resource="db/system_signal_u32_info.hbm.xml"/>
   
   <!--
   <mapping resource="db/system_signal_string_default_value_entity_info.hbm.xml"/>
   <mapping resource="db/custom_signal_string_default_value_entity_info.hbm.xml"/>
   -->
   <mapping resource="db/custom_alarm_name_lang_entity_info.hbm.xml"/>
   


</session-factory>
</hibernate-configuration> 