<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level [%file %line]: %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
    	  <file>bc.log</file> 
　　　　　　<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy"> 
　　　　　　　　　<fileNamePattern>logFile-%i-%d{yyyy-MM-dd}.log</fileNamePattern> 
　　　　　　　　  <maxFileSize>20MB</maxFileSize>
				<maxHistory>30</maxHistory>
　　　　　　</rollingPolicy> 
　　　　　　<encoder> 
　　　　　　　　<pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level [%file %line]: %logger{50} - %msg%n</pattern>
　　　　　　</encoder> 
　　　</appender> 
    
    
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>