<collection config="TypeB">
<mysql>
    <host>localhost</host>
    <port>3306</port>
    <user>root</user>
    <password>Ansersion</password>
    <database>bc_server_db</database>
</mysql>
<device>
    <type>bc light</type> <!--  character ':' is not allowed   -->
    <number>10</number>
    <developer_id>3</developer_id>
    <sn_exist_time comment="2147483647=0x7FFFFFFF">2147483647</sn_exist_time> <!--  0x7FFFFFFF==2147483647   -->
</device>
</collection>
