<collection config="TypeB">
<mysql>
    <host>localhost</host>
    <port>3306</port>
    <user>root</user>
    <password>Ansersion</password>
    <database>bc_server_db</database>
</mysql>
<user_client>
    <phone_number>13400000000</phone_number> <!-- start phone number-->
    <number>5</number>
</user_client>
<client>
    <bin>/bin/echo</bin>
    <server>127.0.0.1</server>
    <ping_interval>10</ping_interval> <!-- in unit of second -->
    <create_interval>100</create_interval> <!-- in unit of millisecond -->
</client>
</collection>
